body{
padding-top: 5vh;
height:100vh;
}

body main{
    position:absolute;
    bottom:0;
    width:100vw;
    display:flex;
    justify-content:space-around;
    height:80vh;
}

body main section.crew-informations{
    width:488px;
}

body main section.crew-informations h3,
body main section.crew-informations h4{
    color:var(--white-color);
    margin:0;
}

body main section.crew-informations h3{
    text-transform:uppercase;
    font-weight: 400;
}

body main section.crew-informations h4{
    font-weight: 100;
}

body main section.crew-informations p{
    color: var(--secondary-color);
    margin: 5vh auto;
}

body section.crew-informations nav.nav-dots{
    margin-top: 10vh;
}

body main section.crew-informations nav.nav-dots ul{
    list-style-type: none;
    display:flex;
}

body main section.crew-informations nav.nav-dots ul li{
    width:32px; height:32px;
    background-color: var(--white-color);
    opacity:0.3;
    border-radius: 50%;
    margin-right: 2vw;
    transition: 400ms ease;
    cursor:pointer;
}

body main section.crew-informations nav.nav-dots ul li.selected{
    opacity:1;
}

body main section.crew-informations nav.nav-dots ul li:hover{
    background-color: var(--secondary-color);
    opacity:1;
} 