body{
    background:url("/starter-code/assets/destination/background-destination-desktop.jpg");
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    overflow: hidden;
}

body header nav ul li a.item-nav-destination{
    border-bottom: 1px solid var(--white-color)
}

body iframe{
    width: 98vw;
    height: 80vh;
    border:none;
}

body main{
    width:98vw;
    display: flex;
    justify-content:space-around;
    align-items:end;
    padding:2vh 1vw;
} 

body main section.right-side{
    width: 445px;
    height:472px;
}

/*********************************************
        NAV PARA TODOS OS DESTINOS
*********************************************/

body main section.right-side nav.nav-destination{
    font-family:'Barlow Condensed', sans-serif;
    font-size:16px;
    letter-spacing:2.7px;
    color: var(--white-color);
    margin-bottom: 8vh;
}

main section.right-side nav.nav-destination ul{
    display: flex;
    list-style: none;
    padding:0;
}

main section.right-side nav.nav-destination ul li{
    margin-left: 2vw;
}

main section.right-side nav.nav-destination ul li:first-child{
    margin-left: 0;
}

main section.right-side nav.nav-destination ul li a{
    text-decoration: none;
    color:var(--secondary-color)
}

body main section.right-side nav.nav-destination ul li a:hover{
    padding-bottom:2vh;
    border-bottom: 3px solid rgba(128,128,128,.5);
}

/*********************************************
        PARA TUDO ABAIXO DO NAV
*********************************************/

body main section.right-side h2{
    color:var(--white-color);
    margin:0;
}

body main section.right-side p{
    color:var(--secondary-color)
}

body main section.right-side div.solid-line{
    background-color:var(--white-color);
    opacity:0.5;
    height:1px; width:100%;
    margin-top:10vh;
}
/*********************************************
        INFOS COMPLEMENTARES EM BAIXO DA LINHA DIV
*********************************************/

body main section.right-side div.other-informations{
    display:flex;
    justify-content:space-around;
}

body main section.right-side div.other-informations section{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

body main section.right-side div.other-informations section h5{
    margin:0;
}

body main section.right-side div.other-informations section p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:14px;
    letter-spacing:2.35px;
    color: var(--secondary-color);
}