body{
    background:url("../../assets/home/background-home-desktop.jpg");
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

/****************************
            MAIN
****************************/

body main{
    margin-left: 11vw;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
}

body main section.section-text{
    display: flex;
    flex-direction: column;
    width:26vw;
}

body main section.section-text h1{
    font-weight:100;
    margin:0 0 5vh 0;
}

body main section.section-text h5{
    margin: 0;
}

/****************************
            BUTTON
****************************/

body main button{
    width:200px; height:200px;
    cursor:pointer;
    background-color: var(--white-color);
    color:var(--black-color);
    margin-right: 11vw;
    margin-top:24vh;
    border-radius:50%;
    border:none;
}

body main button h4{
    font-weight:100;
}